html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #76b900;
    border-color: #76b900;
}

.btn-primary:hover {
    color: #fff;
    background-color: #5a8a00;
    border-color: #5a8a00;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #76b900;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI4Ni4wMDYgNzEuNjc2M0teleUgY9NTFINTEgMjI4NzEuNjc2M0w0NzEuMzc4IDUxIDI2My41MDYgNTFaIiBmaWxsPSIjRkY1MjUyIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48cGF0aCBkPSJNMjM2LjYwNiA1Ni41MTc3QzIzNS44MTMgNTUuNzM1MiAyMzUuODE3IDU0LjQ2MTYgMjM2LjYwNiA1My42ODE4TDI0Mi4yNzcgNDguMDA3NkMyNDMuMDY5IDQ3LjIxNTQgMjQ0LjQzOSA0Ny4yMTMxIDI0NS4yMzMgNDguMDA3NkwyNjAuNTA2IDYzLjI4MDFMMjc1Ljc3OCA0OC4wMDc2QzI3Ni41NzMgNDcuMjEzMSAyNzcuOTQzIDQ3LjIxNTQgMjc4LjczNiA0OC4wMDc2TDI4NC40MDcgNTMuNjgxOEMyODUuMTk2IDU0LjQ2MTYgMjg1LjIwMSA1NS43MzUyIDI4NC40MDcgNTYuNTE3N0wyNjkuMTM0IDcxLjc5MDJMMjg0LjQwNyA4Ny4wNjI3QzI4NS4xOTYgODcuODQ1MiAyODUuMjAxIDg5LjExODggMjg0LjQwNyA4OS45MDEzTDI3OC43MzYgOTUuNTc1NUMyNzcuOTQzIDk2LjM2NzkgMjc2LjU3MyA5Ni4zNjU2IDI3NS43NzggOTUuNTc1NUwyNjAuNTA2IDgwLjMwMjdMMjQ1LjIzMyA5NS41NzU1QzI0NC40MzkgOTYuMzY1NiAyNDMuMDY5IDk2LjM2NzkgMjQyLjI3NyA5NS41NzU1TDIzNi42MDYgODkuOTAxM0MyMzUuODE3IDg5LjExODggMjM1LjgxMyA4Ny44NDUyIDIzNi42MDYgODcuMDYyN0wyNTEuODc4IDcxLjc5MDJMMjM2LjYwNiA1Ni41MTc3WiIgZmlsbD0id2hpdGUiLz48L2c+PC9zdmc+) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.6rem;
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
}

.loading-progress circle:last-child {
    stroke: #76b900;
    stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
    transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
    content: var(--blazor-load-percentage-text, "Loading");
}
