<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">🎙️ NVIDIA Transcription</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transcribe">
                <span class="bi bi-mic-fill-nav-menu" aria-hidden="true"></span> Transcribe
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="podcast-assets">
                <span class="bi bi-mic-fill-nav-menu" aria-hidden="true"></span> Podcast Assets
            </NavLink>
        </div>
    </nav>
</div>
